$dark-red-color: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%);

@font-face {
  font-family: "Masson";
  src: url(../fonts/Mason-Chronicles.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-size: 14px;
  font-family: Roboto,
    Arial,
    Helvetica,
    sans-serif;
  box-sizing: border-box;
  background-color: #141218;
  background-image: url("../img/background-main.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  color: #fff;
}

.container {
  max-width: 1140px;
  padding: 24px 16px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  max-width: 1140px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;

  &__logo {
    cursor: pointer;
  }

  &__menu-list {
    list-style: none;
  }

  &__menu-link {
    text-decoration: none;
    margin-left: 32px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: 1s;

    &:hover {
      color: red;
      border-bottom: 2px solid red;
    }
  }
}

.menu-list {
  display: flex;
  flex-direction: row;
  margin-right: auto;
}

.social {
  &__link {
    cursor: pointer;
    transition: 1s;
  }

  &__link:not(:last-child) {
    margin-right: 8px;
  }
}

.content {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 500;
    font-size: 76px;
    font-family: "Masson", Arial, Helvetica, sans-serif;
    margin: 0;
  }

  &__subtitle {
    margin-bottom: 4px;
  }

  &__info {
    max-width: 460px;
    width: 100%;
  }

  &__stars-container {
    display: flex;
  }

  &__star {
    background-image: url(../img/stars/stars-red.svg);


    &-eight,
    &-nine,
    &-ten {
      background-image: url(../img/stars/stars-white.svg);
    }
  }

  &__btn-look {
    width: 260px;
    height: 60px;
    border: none;
    color: white;
    font-weight: 700;
    background-color: #9D2929;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 80px;


    &:hover {
      font-size: 14px;
      color: white;
      transition: 1s;
      font-size: 16px;
      background-image: $dark-red-color;
      font-family: "Masson", Arial, Helvetica, sans-serif;
      border: 3px solid #9D2929;
    }
  }

  &__series {
    &-list {
      position: relative;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      box-sizing: border-box;
      width: 164px;
      height: 113px;
      padding: 13px;
      margin-right: 16px;
      background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%);
      border-radius: 8px;
      background-size: cover;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: center center;
      box-shadow: inset 80px 40px 80px 40px rgba(0, 0, 0, 0.5);

      &:hover {
        transition: 1s;
        box-shadow: none;
      }
    }

    &-subtitle {
      color: white;
      font-size: 14px;
    }

    &-title {
      color: white;
      font-size: 16px;
      border-bottom: 2px solid rgba(20, 18, 24, 0.5);
    }

    &-one {
      background-image: url("https://cdn.iz.ru/sites/default/files/styles/1920x1080/public/article-2019-12/1_2.jpg?itok=xb3veDfX");
    }

    &-two {
      background-image: url("https://m.buro247.ru/images/mo/1000x600-301219-01.png");
    }

    &-three {
      background-image: url("https://imgclf.112.ua/original/2019/12/02/409172.jpg?timestamp=1575273701");
    }

    &-four {
      background-image: url("https://24tv.ua/resources/photos/news/1200x675_DIR/202001/1257556.jpg?202001095744");
    }


  }


}

.series__btn-next {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 400px;
  top: 40px;
  border: none;
  background: none;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.star {
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  margin-right: 3px;
}

.swiper-container {
  max-width: 420px;
  margin-left: 0 !important;
}

.footer {
  &__container {
    margin-top: 24px;
    padding-top: 0;
  }

  display: flex;
  color: rgb(85, 82, 82);

  &__text-two {
    margin-left: auto;
    margin-right: 24px;
  }

  &__text-three {
    margin-right: 24px;
  }

}

@media screen and(max-width: 500px) {
  .social {
    display: flex;
    flex-direction: column;

    &__link {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }

  .series__btn-next {
    left: 200px;
  }
}

@media screen and(max-width: 420px) {
  .series__btn-next {
    display: none;
  }

  .content__series-item,
  .content__btn-look {
    margin-left: auto;
    margin-right: auto;
  }
}